@media screen and (max-width: 374px) {
    /* CSS rules for Mobile Small Devices  320px */

    .navbar {
        display: none;
    }

    /* menu panel  */
    #burger {
        display: block;
      }
      .navigation {
        display: none;
      }
      .logo-container > h3 {
        display: none;
      }
      .menu-panel.active {
        right: 0;
      }

      /* hero content  */

    .hero-content h3 {
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .hero-content span{
        font-size: 1em;
    }

    .hero-content h2{
        font-size: 2em;
    }

    .hero-content{
        padding: 0 1em;
    }
    .hero-content p {
        font-size: 1em;
        margin: 0.5em 0;
    }
    .text-wrapper span {
        font-size: 1rem;
    }
    .dynamic-texts li {
        font-size: 1rem;
    }

    .hero-section .container {
        flex-direction: column-reverse;
    }

    .container {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        line-height: normal;
    }
    .container p{
        font-size: 0.9rem;
    }

    .container h2{
        font-size: 2rem;
    }
    .hero-image{
        width: 100%;
    }

    .big-header{
        font-size: 4rem !important;
    }

    /* about-section */
    
    .about-section .container {
        flex-direction: column;
    }

    .about-image {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        padding: 0 1em;
      
      }

    .about-details{
        padding-right: 1em;
    }

    .detail-label {
        font-weight: 600;
        color: #fff;
        margin-right: 1em;
        font-size: 0.8rem;
      }
      
      .detail-value {
        font-size: 0.7rem;
      }

    /* Resume-section */


    .item-detail h4 {
        margin: 0 0 0.2rem;
    }

    .item-detail p {
        font-size: 0.8em;
    }

    .item-detail h4{
        font-size: 1em;
    }

    .item-date{
        font-size: 0.8em;
    }

    .tabs .tab-label {
        padding: 0.6em 0.6em;
        font-size: 0.8rem;
    }


    /* skill-section */

    .skills-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .skill-card {
        padding: 2em;
    }

    /* project-section */

    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .project-card .content p {
        font-size: 1rem;
    }

    .modal-content {
        flex-direction: column;
    }

    .modal-left {
        width: 100%;
    }
    .modal-right {
        width: 100%;
        padding: 0;
    }
    .modal-right h2 {
        font-size: 1rem;
    }
    .modal-right p {
        font-size: 0.8rem;
    }

    /* contact-section */

    .contact-main {
        flex-direction: column;
        align-items: center;
    }

    .info-content > p {
        font-size: 0.7rem;
    }

    .contact-image {
        width: 100%;
    }

    .contact-form {
        width: 100%;
        padding: 1em;
    }

    .contact-info {
        grid-template-columns: repeat(1, 1fr);
    }

      /* footer */

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-column {
        text-align: center;
        line-height: 2em;
    }

    .content-column > p{
        padding-right: 0;
    }

    .social-link-btn ul{
        justify-content: center;
    }

  }
  
  @media screen and (min-width: 375px) and (max-width: 424px) {
    /* CSS rules for Mobile Medium Devices */

    .navbar {
        display: none;
    }

    /* menu panel  */
    #burger {
        display: block;
      }
      .navigation {
        display: none;
      }
      .logo-container > h3 {
        display: none;
      }
      .menu-panel.active {
        right: 0;
      }

      /* hero content  */

    .hero-content h3 {
        font-size: 1.3em;
        margin-bottom: 0.5rem;
    }

    .hero-content span{
        font-size: 1.3rem;
    }

    .hero-content h2{
        font-size: 2.3rem;
    }

    .hero-content{
        padding: 0 1em;
    }
    .hero-content p {
        font-size: 1em;
        margin: 0.5em 0;
    }
    .text-wrapper span {
        font-size: 1.3rem;
    }
    .dynamic-texts li {
        font-size: 1.3rem;
    }

    .hero-section .container {
        flex-direction: column-reverse;
    }

    .container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .hero-image{
        width: 100%;
    }

    .big-header{
        font-size: 5rem !important;
    }

    /* about-section */
    
    .about-section .container {
        flex-direction: column;
    }

    .about-image {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        padding: 0 1em;
      
    }

    .about-details{
        padding-right: 1em;
    }

    .detail-label {
        font-weight: 600;
        color: #fff;
        margin-right: 1em;
        font-size: 0.8rem;
      }
      
      .detail-value {
        font-size: 0.8rem;
      }

    /* Resume-section */


    .item-detail h4 {
        margin: 0 0 0.2rem;
    }

    .item-detail p {
        font-size: 0.8em;
    }

    .item-detail h4{
        font-size: 1em;
    }

    .item-date{
        font-size: 0.8em;
    }

    .tabs .tab-label {
        padding: 0.6rem 1rem;
    }


    /* skill-section */

    .skills-container {
        grid-template-columns: repeat(1, 1fr);

    }

    /* project-section */

    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .modal-content {
        flex-direction: column;
    }

    .modal-left {
        width: 100%;
    }
    .modal-right {
        width: 100%;
        padding: 0;
    }
    .modal-right h2 {
        font-size: 1.2rem;
    }
    .modal-right p {
        font-size: 0.9rem;
    }

    /* contact-section */

    .contact-main {
        flex-direction: column;
        align-items: center;
    }


    .info-content > p {
        font-size: 0.8rem;
    }

    .contact-image {
        width: 100%;
    }

    .contact-form {
        width: 100%;
        padding: 2em;
        gap: 1em;
    }

    .contact-info {
        grid-template-columns: repeat(1, 1fr);
    }

      /* footer */

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-column {
        text-align: center;
        line-height: 2em;
    }

    .content-column > p{
        padding-right: 0;
    }

    .social-link-btn ul{
        justify-content: center;
    }

  }
  
  @media screen and (min-width: 425px) and (max-width: 767px) {
    /* CSS rules for Mobile Large Devices */

    .navbar {
        display: none;
    }

    /* menu panel  */
    #burger {
        display: block;
    }
    .navigation {
        display: none;
    }
    .logo-container > h3 {
        display: none;
    }
    .menu-panel.active {
        right: 0;
    }

    /* hero content  */

    .hero-content h3 {
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }

    .hero-content span{
        font-size: 1.3em;
    }

    .hero-content h2{
        font-size: 2.3em;
    }

    .hero-content{
        padding: 0 1rem;
    }
    .hero-content p {
        font-size: 1em;
        margin: 0.5em 0;
    }
    .text-wrapper span {
        font-size: 1.3rem;
    }
    .dynamic-texts li {
        font-size: 1.3rem;
    }

    .hero-section .container {
        flex-direction: column-reverse;
    }

    .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .hero-image{
        width: 100%;
    }

    .big-header{
        font-size: 5rem !important;
    }

    /* about-section */
    
    .about-section .container {
        flex-direction: column;
    }

    .about-image {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        padding: 0 1em;
      
    }

    .about-details{
        padding-right: 1em;
    }

    /* Resume-section */

    .item-detail h4 {
        margin: 0 0 0.2em;
    }

    .item-detail p {
        font-size: 0.8em;
    }

    .item-detail h4{
        font-size: 1em;
    }

    .item-date{
        font-size: 0.8em;
    }

    .tabs .tab-label {
        padding: 0.6rem 1em;
    }


    /* skill-section */

    .skills-container {
        grid-template-columns: repeat(1, 1fr);

    }

    /* project-section */

    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .modal-content {
        flex-direction: column;
    }

    .modal-left {
        width: 100%;
    }
    .modal-right {
        width: 100%;
        padding: 0;
    }
    .modal-right h2 {
        font-size: 1.2rem;
    }
    .modal-right p {
        font-size: 0.9rem;
    }

    /* contact-section */

    .contact-main {
        flex-direction: column;
        align-items: center;
    }

    .contact-image {
        width: 100%;
    }

    .contact-form {
        width: 100%;
        padding: 2em;
        gap: 1em;
    }

    .contact-info {
        grid-template-columns: repeat(1, 1fr);
    }

      /* footer */

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-column {
        text-align: center;
        line-height: 2em;
    }

    .content-column > p{
        padding-right: 0;
    }

    .social-link-btn ul{
        justify-content: center;
    }

  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for Tablet Devices */

    .navbar {
        display: none;
    }

    #burger {
        display: block;
    }
    .navigation {
        display: none;
    }
    .logo-container > h3 {
        display: none;
    }
    .menu-panel.active {
        right: 0;
    }

    .hero-section .container {
        flex-direction: column-reverse;
    }

    .container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .hero-image{
        width: 100%;
    }

    /* about-section */
    
    .about-section .container {
        flex-direction: column;
    }

    .about-image {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        padding: 0 4em;
    }

    /* skill-section */

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* project-section */

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .modal-content {
        flex-direction: column;
    }
    .modal-left {
        width: 100%;
    }
    .modal-right {
        width: 100%;
    }

    /* contact-section */


    .contact-form {
        padding: 2em;
    }

    .contact-info {
        grid-template-columns: repeat(2, 1fr);
      }

    /* footer */

      .footer-content {
        grid-template-columns: repeat(2, 1fr);
      }

   
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    /* CSS rules for Laptop Devices */


    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .about-details {
        padding-right: 5em;
    }

    .skill-card {
        padding: 2em;
    }

  }
  
  @media screen and (max-width: 1440px) {
    /* CSS rules for Laptop Large Devices */

  }
  