.resume-section {
    padding: 4em 0;
    background: #0d0d0d;
    color: #fff;
    text-align: center;
  }
  
  .resume-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .resume-header {
    position: relative;
    margin-bottom: 3rem;
  }
  .resume-header .big-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 900;
    padding: 1rem;
    z-index: 0;
  }
  .resume-header h2 {
    font-size: 3rem;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .resume-header p {
    font-size: 1rem;
    color: #ccc;
    text-align: center;
    margin: 1rem 0;
    position: relative;
    z-index: 1;
    padding: 0 2em;
  }
  
  .tabs {
    max-width: 800px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    
  }
  
  .tabs input[type="radio"] {
    display: none;
  }
  
  .tabs .tab-label {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 0.8rem 1.2rem;
    margin: 0 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
  }
  .tabs .tab-label:hover {
    transform: translateY(-5px)
  
  }
  .tabs input[type="radio"]:checked + .tab-label {
    background-color: #fccd2a;
    color: #333;
  }
  
  .tab-content {
    margin-top: 2rem;
    position: relative;
    text-align: left;
    
  }
  .tab-content .content {
    display: none;
  }
  #tab-experience:checked ~ .tab-content .experience {
    display: block;
  }
  #tab-education:checked ~ .tab-content .education {
    display: block;
  }
  
  .timeline-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    background-color: #fff;
    z-index: 1;
  }
  .resume-content {
    position: relative;
  }
  .resume-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2rem 0;
    padding: 1rem 1rem;
    gap: 50px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  @keyframes appear {
    from{
      opacity: 0;
      scale: 0.5;
      transform: translateY(100px);
      /* clip-path: inset(100% 100% 0 0); */
    }
    to{
      opacity: 1;
      scale: 1;
      transform: translateY(0px);
      /* clip-path: inset(0 0 0 0); */

    }
  }

  .resume-item::before {
    content: "\f121";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #0d0d0d;
    background-color: #fff; 
    border-radius: 50%;
    width: 24px; 
    height: 24px;
    text-align: center; 
    line-height: 24px;
    z-index: 2;
  }
  
  .item-date {
    width: 45%;
    text-align: right;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.8rem;
    border-radius: 8px;
  }
  .item-detail {
    width: 45%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.8rem;
    border-radius: 8px;
  }
  .item-detail h4 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: #fff;
  }
  .item-detail p {
    margin: 0;
    color: #ccc;
  }
  