@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  background: #0d0d0d;
  color: #ffffff;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #070707;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 16px;
}

.logo {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #999999;
}

.logo span {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #fccd2a;
}

/* @media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a {
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
  }
} */

/* ================== Hero Section ===============*/
.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section {
  margin-top: 100px;
}

.hero-content{
  padding: 0 1rem;
}

.hero-content h2 {
  font-size: 3rem;
  text-align: left;
}

.hero-content h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: left;
}

.text-wrapper span {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
}

.text-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.dynamic-texts li span {
  position: relative;
  color: #fccd2a;
}

.dynamic-texts li {
  list-style: none;
  font-size: 1.5rem;
  color: #fccd2a;
  text-align: left;
  font-weight: 700;
  position: relative;
  margin-left: 10px;
  top: 0;
  animation: slide 6s steps(3) infinite;
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    top: -150px;
  }
}

.text-wrapper .dynamic-texts {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}

.dynamic-texts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #0d0d0d;
  border-left: 1px solid #fccd2a;
  animation: typing 2s steps(16) infinite;
}

@keyframes typing {
  from {
    left: 0;
  }
  to {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.hero-content p {
  margin: 1em 0;
  text-align: left;
}

.hero-image{
  width: 50%;
  margin: 0 1em;
}

.hero-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #0d0d0d;
  margin: 10px 0px;
}

.social-link img {
  background-color: #0d0d0d;
  border-radius: 50%;
  border: 2px solid #0d0d0d;
}

.social-link img:hover {
  border-color: #fccd2a;
  border-width: 2px;
}
.social-link a {
  text-decoration: none;
}
.btn-container {
  margin: 1rem 0rem;
}

.btn-container a {
  text-decoration: none;
}

.btn-download-CV {
  background-color: #fccd2a;
  color: #0d0d0d;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  margin: 10px 10px 10px 0px;
  border: #fccd2a;
  box-shadow: 0 0 10px 0 #fccd2a;

  transition: transform 0.3s ease;
}



.btn-download-CV:hover {
  transform: scale(1.05);
  box-shadow: none;
}

/* =============================== About Section ==================================== */

.about-section {
  padding: 4em 0;
  background-color: #303030;
}

.about-header .big-header {
  position: absolute;
  left: 0;
  top: 5%;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
  z-index: 0;
}

.about-section .container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image {
  width: 50%;
  padding: 1em;
}

.about-image img{
  width: 100%;
  object-fit: cover;
}

.about-content {
  flex: 1 1 400px;
  min-width: 300px;
  position: relative;
}

.about-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  position: relative;
}
.about-content h2 span {
  color: #fccd2a;
}
.about-content h3 {
  font-size: 1.5rem;
  position: relative;
  bottom: 1em;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
  position: relative;
  bottom: 1em;
  padding-right: 1em;
}

.about-details {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding-right: 10rem;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
}

.detail-label {
  font-weight: 600;
  color: #fff;
  margin-right: 1rem;
}

.detail-value {
  color: #ccc;
}

.btn-see-more {
  background-color: #fccd2a;
  color: #0d0d0d;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  margin: 10px 10px 10px 0px;
  border: #fccd2a;
  box-shadow: 0 0 15px 0 #fccd2a;

  transition: transform 0.3s ease;
}

.btn-see-more:hover{
  transform: scale(1.05);
  box-shadow: none;
}


/* =============================== Resume Section ==================================== */

.resume-section {
  padding: 4em 0;
  background: #0d0d0d;
  color: #fff;
  text-align: center;
}

.resume-section .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-header {
  position: relative;
  margin-bottom: 3rem;
}
.resume-header .big-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
  padding: 1rem;
  z-index: 0;
}
.resume-header h2 {
  font-size: 3rem;
  margin: 0;
  position: relative;
  z-index: 1;
}
.resume-header p {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  padding: 0 2em;
}

.tabs {
  max-width: 800px;
  border-radius: 8px;
  position: relative;
  text-align: center;
  
}

.tabs input[type="radio"] {
  display: none;
}

.tabs .tab-label {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 0.8rem 1.2rem;
  margin: 0 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}
.tabs .tab-label:hover {
  transform: translateY(-5px)

}
/* When a radio is checked, style its label */
.tabs input[type="radio"]:checked + .tab-label {
  background-color: #fccd2a;
  color: #333;
}

.tab-content {
  margin-top: 2rem;
  position: relative;
  text-align: left;
  
}
.tab-content .content {
  display: none;
}
/* Show the Experience content when #tab-experience is checked */
#tab-experience:checked ~ .tab-content .experience {
  display: block;
}
/* Show the Education content when #tab-education is checked */
#tab-education:checked ~ .tab-content .education {
  display: block;
}

.timeline-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  background-color: #fff;
  z-index: 1;
}
.resume-content {
  position: relative;
}
.resume-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 2rem 0;
  padding: 1rem 0;
  gap: 50px;
}
.resume-item::before {
  content: "\f121";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #0d0d0d;
  background-color: #fff; 
  border-radius: 50%;
  width: 24px; 
  height: 24px;
  text-align: center; 
  line-height: 24px;
  z-index: 2;
}

.item-date {
  width: 45%;
  text-align: right;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  border-radius: 8px;
}
.item-detail {
  width: 45%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  border-radius: 8px;
}
.item-detail h4 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  color: #fff;
}
.item-detail p {
  margin: 0;
  color: #ccc;
}

/* @media screen and (max-width: 600px) {
  .resume-item {
    flex-direction: column;
    text-align: center;
  }
  .item-date,
  .item-detail {
    width: 100%;
    text-align: center;
  }
  .timeline {
    display: none;
  }
} */

/* =============================== Skills Section ==================================== */

.skills-header {
  position: relative;
  margin-bottom: 2rem;
}
.skills-header .big-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
  padding: 1rem;
  z-index: 0;
}
.skills-header h2 {
  font-size: 3rem;
  margin: 0;
  position: relative;
  z-index: 1;
}
.skills-header p {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  padding: 0 2em;
  
}

.skills-header > h2 > span {
  color: #fccd2a;
}

.skills-section {
  padding: 4rem 0;
  text-align: center;
  background-color: #303030;
}

.skills-section h2 {
  margin-bottom: 1rem;
}

.skills-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 2rem;
  padding: 2em;
}

.skill-card {
  background: linear-gradient(145deg, #1e1e1e, #3c3c3c);
  border-radius: 15px;
  padding: 3rem;
  text-align: left;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.skill-card:hover {
  background: linear-gradient(145deg, #3c3c3c, #111111);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.card-content::after {
  content: "\f061";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.5rem;
  color: #fccd2a;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-content:hover::after {
  opacity: 1;
}

.card-content {
  transition: transform 0.3s ease-in-out;
}

.card-content:hover {
  transform: translateY(-5px);
}

.card-content > img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin-bottom: 1em;
}

.card-content > h3 {
  margin-bottom: 1em;
}

/* =============================== Project Section ==================================== */

.projects-header {
  position: relative;
  margin-bottom: 2rem;
}
.projects-header .big-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
  padding: 1rem;
  z-index: 0;
}
.projects-header h2 {
  font-size: 3rem;
  margin: 0;
  position: relative;
  z-index: 1;
}
.projects-header p {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  padding: 0 2em;
}

.projects-header > h2 > span {
  color: #fccd2a;
}

.projects-section {
  background-color: #0d0d0d;
  padding: 4rem 0 ;
  text-align: center;
}

.projects-section h2 {
  margin-bottom: 1rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 2rem;
  padding: 2rem;
}

.project-card {
  background: linear-gradient(145deg, #080808, #242424);
  padding: 1.5rem;
  border-radius: 20px;
  text-align: left;
  position: relative;
  z-index: 1;
  height: 100%;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(255, 255, 255, 0.05);
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  background: linear-gradient(145deg, #242424, #080808);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8),
    0 4px 10px rgba(255, 255, 255, 0.1);
}

.project-card .inner .thumbnail {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1em;
}

.project-card .inner .thumbnail img {
  width: 100%;
  height: 60%;
  display: block;
  transition: transform 0.5s ease;
  border-radius: 10px;
  object-fit: cover;
}

.project-card:hover .inner .thumbnail img {
  transform: scale(1.1);
}

.project-card .content h3 {
  color: #fccd2a;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 1em;
}

.project-card .content p {
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}

.project-card .content p::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.5rem;
  color: #fccd2a;
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card .content p:hover::after {
  opacity: 1;
}

.project-card .content a {
  text-decoration: none;
}

.project-card .content p:hover {
  color: #fccd2a;
}

.project-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Modal Container: The modal window */
.modal-container {
  display: flex;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 900px;
  position: relative;
}

/* Modal Content: Layout for left (image) and right (text) sections */
.modal-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* Left side: Image container */
.modal-left {
  width: 50%;
}

.modal-left img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Right side: Content area */
.modal-right {
  width: 50%;
  padding: 20px;
  text-align: left;
}

.modal-right h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.modal-right p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.view-project {
  background: #fccd2a;
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.view-project:hover {
  background: #fccd2a;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* @media (max-width: 768px) {
  .modal-container {
    width: 90%;
    padding: 10px;
  }

  .modal-content {
    flex-direction: column;
  }

  .modal-left,
  .modal-right {
    width: 100%;
  }

  .close {
    top: 5px;
    right: 10px;
    font-size: 20px;
  }
} */

/* =============================== Contact Section ==================================== */

.contact-header {
  position: relative;
  margin-bottom: 2rem;
}
.contact-header .big-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 900;
  padding: 1rem;
  z-index: 0;
}
.contact-header h2 {
  font-size: 3rem;
  margin: 0;
  position: relative;
  z-index: 1;
}
.contact-header p {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.contact-header > h2 > span {
  color: #fccd2a;
}

.contact-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #303030;
}

.contact-section h2 {
  margin-bottom: 1rem;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
  align-items: start;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  margin: 2em;
}

.info-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  border: #000;
  padding: 1em;
  align-content: center;
}
.info-icon > img {
  width: 60%;
  height: auto;
  object-fit: cover;
  align-items: center;
}

.contact-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #0d0d0d;
}

.contact-image {
  width: 50%;
  height: 100%;
}
.contact-image > img {
  width: 100%;
  object-fit: cover;
}

.contact-form {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  box-sizing: border-box;
  gap: 2em;
  width: 50%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 1em 0em;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 1em 0em;
}

.send-btn {
  background-color: #fccd2a;
  padding: 12px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  float: left;
  color: #000;
  margin: 1em 0em;
}

/* Footer Section */
.footer {
  background-color: #0d0d0d;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid #333;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.f-nav-link > li > a {
  color: #999999;
  text-decoration: none;
}

.f-nav-link > li > img {
  width: 1.3em;
  height: 1em;
  margin-right: 0.5em;
}

.f-nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.content-column {
  text-align: left;
  line-height: 2em;
}

.f-nav-link > li > p {
  color: #999999;
}
.f-icon {
  width: 1em !important;
}

.social-link-btn ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .img-container {
  width: 3em;
  height: 3em;
  background-color: #333;
  border-radius: 50%;
  align-content: center;
}

.social-link-btn ul > li:nth-child(2){
  margin:0 10px;
}

footer .img-container:hover {
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
  background: #0d0d0d;
}

.img-container > img {
  width: 50%;
  height: 50%;
}

.content-column > p {
  padding-right: 4em;
  color: #999999;
}

/* Responsive Media Queries */
/* @media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-section {
    height: auto;
    padding: 4rem 2rem;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    gap: 1rem; 
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }
} */

